
body {
	background-color: #000;
	font-family: Optima, "Segoe UI", Verdana, sans-serif;
	margin: 0;
	padding: 0;
}


body p {
	color: #fff;
}


#menu {
	position: absolute;
	z-index: 1000;
	top: 80px;
	left: 200px;
	right: 200px;
	padding: 50px;
	background: rgba(0, 0, 0, 0.55);
	box-shadow: 0 0 50px rgba(255, 255, 255, 0.75);
	border-radius: 10px;
	color: #fff;
}

#controlheader {
	text-align: left;
	width: 300px;
}


#help {
	text-align: left;
	width: 300px;
}


#controlButtons {
	display: none;
}

button.gameControl {
	background-color: #444;
	border: 1px solid #ccc;
	width: 150px;
	padding: 8px;
	margin: 15px 15px 0 15px;
	border-radius: 3px;
	box-shadow: 0 0 8px #999;
	background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.25));

	font-family: Optima, "Segoe UI", Verdana, sans-serif;
	font-size: 18px;
	color: #fff;
}


/* flip the gradient while the user is clicking the button for a depressed button look */
button.gameControl:active {
	background: linear-gradient(rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.1));
}


#error {
	background: #c00;
	color: #fff;
	padding: 10px;
	border-radius: 10px;
}
